:root {
    --main-color: #CAA688
}

.a:hover{
    color: rgb(255, 221, 170);   
}
html{
    scroll-behavior: smooth;
}

.botonUno:hover{
    background-color: rgb(255, 221, 170);
}
.botonDos:hover{
    background-color: rgb(255, 221, 170);
}

.nombrecompleto:focus{
    border: var(--main-color) 2px solid;
}
.textbox:focus{
    border: solid 2px var(--main-color);
}
textarea:focus{
    border: solid 2px var(--main-color);
}
.btn:hover{
    background-color:rgb(255, 221, 170);
}
.bontoncatalogo a:hover{

}
.botoncatalogo:hover{
    background-color: rgb(255, 221, 170);
}