*{
    padding: 0;
    margin: 0;

}
:root {
    --main-color: #CAA688
    
}
/*Navigator*/ 
.header{
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 67px;
    position: fixed;
    background: var(--main-color);
    
}
.contenidoHeader{
    margin: auto;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}
.headerLogo{
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo h1{
    color: white;
    font-size: 18px;
}
.headerMenu{
    height: 67px;
}
.headerMenu nav{
    height: 100%;
}
.headerMenu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}
.headerMenu nav li{
    height: 100%;
    margin: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.headerMenu nav ul li a{
    transition: all 200ms;
    font-size: 15px;
    color: white;
}
.headerMenu .textMenuSelected{
    color: #707070;
}
.iconoDerecha{
    width: 40px;
    height: 40px;
    top: 13px;
    right: 40px;
    
    border-radius: 10px;
    position: absolute;
    display: none;
    cursor: pointer;
    transition: all 200ms;
    align-items: center;
    justify-content: center;
}
.iconoDerecha img{
    width: 50%;
    filter: invert(100%);
}
.iconoIzquierda{
    width: 40px;
    height: 90px;
    left: -30px;
        
    border-radius: 10px;
    position: fixed;
    display: none;
    cursor: pointer;
    transition: all 200ms;
}
.iconoIzquierda img{
    display: none;
}
#iconoMenu:hover{
    opacity: 0.5;
}
#botonCerrar{
    display: none;
    padding: 20px;
    border: none;
    font-size: 20px;
    outline: none;
    right: 0;
    background: none;
    color: var(--text);
    position: absolute;
    transition: all 200ms;
}
#botonCerrar:hover{
    opacity: 0.4;
}
.menuLateral img{
    left: 0;
    right: unset;
    top: 30px;
}

ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1fr;
    font-weight: 500;
}
/*Inicio*/
.inicio{
    width: 100%;
    height: 100vh;
    background: url(./img/fondo\ header\ 1.png) top center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.inicioGrupo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto 0;
}
h1{
    font-family: Raleway;
    font-weight: 400;
    font-size: 72px;
    line-height: 15px;
    color: #FFFFFF;
    
}
.parrafoInicio{
    width: 70%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: white;
}

.botonesInicio{
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 25%;
    justify-content: center;
}
.botonUno{
    border: white 3px solid;
    width: 137px;
    height: 55px;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 10px;
}
.botonUno a{
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 0;
    color: white;
    padding: 0px 10px;
    
}
.botonDos{
    border: white 3px solid;
    width: 137px;
    height: 55px;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--main-color);
    margin-left: 10px;
}
.botonDos a{
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1em;
    line-height: 0;
    color: white;
    padding: 0px 10px;
}
/*Servicio*/
.servicio{
    display: flex;
    margin: 0 auto; 
    margin-top: 54px;
    border: black 1px solid;
    width: 90%;
    height: auto;
    justify-content: center;
    
}
.servicioTitulo{
    font-family: "Raleway";
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;

}
.servicioSubtitulo{
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat";
    letter-spacing: 15px;
    font-size: 16px;
    margin-top: 15px;
}

.servicioParrafo{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    margin-top: 46px;
    font-family: "Montserrat";
}
.servicioGrupo{
    padding-bottom: 40px;
}
/*Catálogo*/
.catalogo{
    background-color: #FFEFE2;
    margin-top: 94px;
    width: 100%;
}
.catalogo2{
    background-color: #FFEFE2;
    width: 100%;
}
.catalogoProductos{
    display: grid;
    grid-template-columns: 30% 30%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.producto{
    
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    border-bottom: rgba(0, 0, 0, 0.15) solid 1px;
    margin-bottom: 10px;
}
.producto h4 {
    font-family: "Raleway";
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.producto img{
    max-width: 20rem;
    height: 20rem;
    object-fit: cover;

}
.parrafoCatalogo{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
}
.botoncontainer{
    display: flex;
    justify-content: center;
}
.botoncatalogo{
    width: 137px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
    margin-bottom: 15px;
}
.botoncatalogo a{
    text-decoration: none;
    color: white;
    font-family: "Raleway";
}
/*Contácto*/
.contacto{
    height: 600px;
    background-color: #3B3B3B;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.formcontainer label, .mensajecontainer label{
    color: #f5f5f5;
    font-family: "Raleway";
    font-size: 13px;
    padding: 15px 0px 5px 0px;
}
.tituloContacto{
    font-family: "Raleway";
    font-size: 72px;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    margin-left: 65px;
    padding-top: 100px;
    color: white;
}
input, textarea{
    width: 45%;
    border-radius: 10px;
    background-color: white;
    padding: 10px 10px;
    height: 25px;
    width: 100%;
    border: none;
    outline: none;
    font-family: "Raleway";
    font-size: 15px;
}
.btn{
    width: 30%;
    height: 50px;
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--main-color);;
    margin-top: 20px;
    border: 3px white solid;
    color: white;
}
.formularioContacto{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 40%;
    
}
.formcontainer{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
.mensajecontainer{
    display: flex;
    flex-direction: column;
    padding: 5% 0% 0% 5%;
    width: 90%;
}
.mensajecontainer textarea{
    height: 45%;
    width: 95%;
}
/*Footer*/
footer{
    width: 100%;
    background-color: rgb(27, 27, 27);
    height: 6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

footer p{
    width: 40%;
    color: white;
}
